
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.twitter-typeahead {
  display: block !important;
}

.tt-suggestion {
  background: #fff;
  padding: 12px;
  cursor: pointer;
  &:hover {
    background: #eee;
  }
}

.tt-menu {
  background: #fff !important;
  left: 0;
  right: 0;
}

.tt-suggestion:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
